<html>
    <header>
        <title>Sqliteman export</title>
    </header>
    <body>
        <table border="1">
            <tr><th>paymentStatus</th><th>default_rate</th></tr>
            <tr><td>Collected</td><td>0.244498059864596</td></tr>
            <tr><td>Current</td><td>85.4375069890432</td></tr>
            <tr><td>Default</td><td>10.5680655347259</td></tr>
            <tr><td>In collection</td><td>0.0166325338421481</td></tr>
            <tr><td>Late</td><td>3.73329688252435</td></tr>
        </table>
    </body>
</html>
